// 1u is a 8px grid unit. 1u === 8px
$headers = #686868
$textColor = #979797

.root
  justify-content flex-start

.header
  color $headers
  font-size 2.1u
  margin-top 5u
  
  &.first
    margin-top 0u
    

/* SEARCH */
.searchBlock
  margin-top 3u
  flex-direction row
  
.searchField
  height 5u
  width 100%
  background #F1F1F1
  color $headers
  padding 0u 2u

.searchBtn
  width 5u
  height 5u
  background #DEDEDE
  justify-content center
  align-items center

.image
  width 2u
  height 2u

/* FILTER */
.filterBlock
  margin-top 3u

.filter
  height 4px
  background #B7B7B7

.filterData
  flex-direction row
  justify-content space-between
  margin-top 3u

.lemma
  color $headers
  font-size 1.5u

/* CATEGORIES */
.cat
  flex-direction row
  justify-content space-between
  margin-top 2u

  &.first
    margin-top 3u

.text
  color $textColor
  font-weight 400
  
/* COLORS */
.colorsBlock
  flex-direction row

.colors
  margin 3u 0u 0u 2u
  
  &.first
    margin-left 0u

.colorBtn
  height 20px
  width 20px
  border-radius 9999px

/* SIZE */
.sizeBlock
  flex-direction row

.sizes
  margin 3u 0u 0u 2u
  
  &.first
    margin-left 0u

/* RELATED PRODUCT */
.productInfo
  flex-direction row
  margin-top 3u

.imageProduct
  width 10u
  height 10u

.about
  margin-left 2u

.name
  font-size 1.5u
  color $headers

.price
  font-size 1.5u
  color $headers
  margin-top 2u

.starsBlock
  margin-top 2u
  flex-direction row

.stars
  margin-left 6px

  &.first
    margin-left 0px

.imageStar
  width 10px
  height 10px
