// 1u is a 8px grid unit. 1u === 8px
$headers = #686868
$textColor = #979797

.root
  justify-content flex-start

.header
  color $headers
  font-size 2.1u
  margin-top 5u
  
  &.first
    margin-top 0u
    

/* SEARCH */
.searchBlock
  margin-top 3u
  flex-direction row
  
.searchField
  height 5u
  width 100%
  background #F1F1F1
  color $headers
  padding 0u 2u

.searchBtn
  width 5u
  height 5u
  background #DEDEDE
  justify-content center
  align-items center

.image
  width 2u
  height 2u
