// 1u is a 8px grid unit. 1u === 8px
$headers = #686868
$textColor = #979797

.root
  justify-content flex-start

.header
  color $headers
  font-size 2.1u
  margin-top 5u
  
  &.first
    margin-top 0u
    
/* FILTER */
.filterBlock
  margin-top 3u

.filter
  flex-direction row
  align-items center

.filterLeft
  height 1u
  width 3px
  background #B7B7B7

.filterBar
  height 2px
  width 100%
  background #B7B7B7

.filterRight
  height 1u
  background #B7B7B7
  width 3px

.filterData
  flex-direction row
  justify-content space-between
  margin-top 3u

.lemma
  color $headers
  font-size 1.5u
